*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.6rem;
}

html{
    font-size: 62.5%;
}

img{
    max-width: 100%;
    height: auto;
}

a {
    color: $mainOrange;
}