.large-hero{
    position: relative;
    border-bottom: $mainBlue solid 1rem;

    &__text-content{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
    }

    &__title{
        font-weight: 500;
        color: $mainBlue;
        font-size: 3rem;
        margin-bottom: 1rem;

        @mixin atSmall {
            font-size: 7rem;
        }
        
    }

    &__subtitle{
        font-weight: 300;
        color: $mainBlue;
        font-size: 1.8rem;
        margin: 0 0 1rem 0;

        @mixin atSmall {
            font-size: 5rem;
        }
    }

    &__description{
        color: white;
        font-size: 1.6rem;
        font-weight: 100;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        margin-bottom: 3rem;

        @mixin atSmall {
            font-size: 3rem;
        }
    }

    &__image{
        display: block;
    }
}